@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
.bmi-container {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
    padding: 2rem;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 350px;
    border-radius: 20px;
    margin: 0 auto;
}

nav a img {
    width:32px;
    height:32px;
    border-radius:50%;
    object-fit: cover;
    background-color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #bef3f3;
}

li {
    float: right;
}

li a {
    font-family: 'Poppins', sans-serif;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}